@charset "utf-8";
/* CSS Document */

.fullSlide{ min-width:1000px; position:relative; height:400px; overflow:hidden;  }
.fullSlide .bd{ position:relative; z-index:0;  }
.fullSlide .bd ul{ }
.fullSlide .bd li{ height:400px; overflow:hidden; text-align:center;  }
.fullSlide .bd li a{ display:block; height:330px; }
.fullSlide .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
}

.fullSlide .hd ul {
    text-align: center;
}

.fullSlide .hd ul li {
    float:none;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom:1; width: 42px;
    height:6px;
    margin: 3px;
    overflow: hidden;
    background: #fff;
    border: 0;
    filter: alpha(opacity=50);
    opacity: 0.5;
    line-height: 999px;
}

.fullSlide .hd ul .on {
    border: 0;
    background: #ff0000;
}

#divselect{width:100px; position:relative; z-index:111;}
#divselect cite{width:60px; height:32px;line-height:32px; display:block; color:#666; cursor:pointer;font-style:normal;
    padding-left:10px; padding-right:20px;background:url(../images/icon/down.png) no-repeat right center;}
#divselect ul{width:100px;border:2px solid #cc0007; border-top: 2px solid #F5F5F5; background-color:#F5F5F5; position:absolute; z-index:20000; margin-top:0px;margin-left: -2px; display:none;}
#divselect ul li{height:32px; line-height:32px;}
#divselect ul li a{display:block; height:32px; color:#333333; text-decoration:none; padding-left:10px; padding-right:10px;}
#divselect ul li a:hover{background-color:#CCC;}

.container{
    width: 1200px;
    margin: 0 auto;
}
.topbar{
    background: #f8f8f8;
    height: 34px;
    position: relative;
    z-index: 2222;
    border: 1px solid #e9e9e9;
}
.top-right{
    height: 34px;
    float: right;
}
.top-menu>ul>li{
    float: left;
    line-height: 34px;
    cursor: pointer;
}
.top-menu .menu-toggle{
    height: 34px;
    border-right: 1px solid #e9e9e9;
    background: url("../images/icon/top_down.png") 92% center no-repeat;
}
.top-menu>ul>li{
    padding:0 20px;
    position: relative;
}
.top-menu>ul>li a{
    color: #999999;
}
.top-menu>ul>li a{
    color: #999999;
    display: block;
    line-height: 34px;
    padding-left: 20px;
}
.top-menu>ul>li a.member-name{
    background: url("../images/icon/user.png") left center no-repeat;
}
.top-menu>ul>li a.member-sign{
    background: url("../images/icon/reguser.png") left center no-repeat;
    padding-left: 22px;
}
.top-menu>ul>li a.login-out{
    background: url("../images/icon/out.png") left center no-repeat;
}

.toggle-list{
    display: none;
    position: absolute;
    top: 34px;
    right: 0;
    width:100px;
    background: #fff;
    border: 1px solid #dfdfdf;
    -moz-box-shadow:0px 0px 2px #dfdfdf;
    -webkit-box-shadow:0px 0px 2px #dfdfdf;
    box-shadow:0px 0px 2px #dfdfdf;
}
.toggle-list ul li{
    border-bottom: 1px dashed #dfdfdf;
}
.toggle-list ul li:last-child{
    border-bottom: 0;
}
.toggle-list ul li a{
    line-height: 34px;
    padding:0 10px;
}
.toggle-list ul li a:hover{
    background: #F4F4F4;
}



.footer{
    background: #1c1c1c;
}
.copyright{
    background: #181818;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #7b7b7b;
}
.footer-container{
    padding:30px 0;
}
.footer-nav{
    float: left;
}

.codebox{
    float: right;
}
.nbox{
    width: 226px;
    float: left;
    margin-right: 40px;
}
.nbox dt{
    font-size: 16px;
    color: #fff;
    height: 35px;
    margin-bottom: 10px;
    border-bottom: 1px solid #494949;
}
.nbox dd{
    line-height: 25px;
    color: #a8a8a8;
    font-size: 14px;
}
.nbox dd a{
    color: #a8a8a8;
    font-size: 14px;
}
.nbox dd a:hover{
    color: #999;
}
.codebox li{
    float: left;
    padding:0 10px;
    text-align: center;
}
.codebox li .text{
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}
.section{
    padding:50px 0;
}
.section-bg{
    background: #f5f6f7;
}
.box-header{
    font-size: 26px;
    margin-bottom: 50px;
    height: 64px;
    text-align: center;
    background: url("../images/header_bg.png") center bottom no-repeat;
}
.cooperation{
    margin-bottom: 50px;
}
.cooperation ul{
    overflow: hidden;
}
.cooperation li{
    width: 239px;
    float: left;
    text-align: center;
    padding:20px 0;
    border-right:1px dashed #e6e6e6;
    border-top:1px dashed #e6e6e6;
    margin-top: -1px;
    overflow: hidden;
}
.cooperation li img{
    width: 120px;
    margin-top: 30px;
}
.coop-box{
    position: relative;
    overflow: hidden;
    height: 179px;
}
.hz-item-hover{
    position: absolute;
    left: 0;
    bottom: -180px;
    z-index: 11;
}
.coop-box:hover .hz-item-hover{
    bottom: 0;
}
.hd ul{
    overflow: hidden;
}
.hd ul li{
    width: 110px;
    height: 42px;
    line-height: 42px;
    border-radius: 42px;
    margin-right: 20px;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #808080;
}
.hd ul li.on{
    border:1px solid #e3383e;
    color: #e3383e;
}
.say-wrap .hd{
    margin-bottom: 20px;
}
.say-wrap .say-links li{
    width: 360px;
    float: left;
    margin-bottom: 25px;
    padding:0 15px;
}
.say-wrap .bd ul .say-links{
    margin: 0 -15px;
}
.say-box{
    overflow: hidden;
}
.say-box img{
    display: block;
    float: left;
    margin-right: 10px;
    width: 56px;
    height: 56px;
    border-radius: 56px;
}
.say-box .say-name{
    font-size: 16px;
    line-height: 25px;
}
.say-box .saydesc{
    font-size: 14px;
    color: #808080;
}

.links-box li {
    float: left;
    padding:15px 15px;
}
.links-box a {
    font-size: 14px;
}

/*资讯*/
.index-news{
    width: 830px;
    float: left;
}
.box-notice{
    float: right;
    width: 340px;
}
.index-news .bd li{
    padding:20px 0;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}
.index-news .newspic{
    width: 160px;
    height: 120px;
    float: left;
    margin-right: 20px;
}
.news-title{
    line-height: 26px;
}
.news-title .tag{
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius:5px;
    height: 26px;
    padding:0 10px;
    background: #ffccce;
    font-size: 12px;
    color: #e3383e;
}
.news-title a{
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
}
.news-desc{
    padding:6px 0;
    line-height: 22px;
    font-size: 14px;
    color: #999999;
}
.news-meta{
    height: 30px;
    font-size: 14px;
    color: #999999;
}
.teacher-cell{
    height: 30px;
    line-height: 30px;
}
.teacher-cell img,.teacher-cell span{
    display: inline-block;
    vertical-align: middle;
}
.teacher-cell img {
    width: 30px !important;
    height: 30px !important;
    border-radius: 30px !important;
    margin-right: 5px !important;
    display: inline-block !important;
}
.people-cell{
    padding-left: 18px;
    background: url("../images/icon/people.png") left center no-repeat;
}
.collect-cell{
    padding-left: 18px;
    background: url("../images/icon/heart.png") left center no-repeat;
}
.news-meta .teacher-cell,
.news-meta .people-cell,
.news-meta .collect-cell{
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
}

.col-auto{
    overflow: hidden;
    _float:left;
    _zoom:1;
}

.box-notice{
    width: 340px;
    float: right;
}
.n-box-title{
    font-size: 16px;
    height: 40px;
    padding:0 15px;
    color: #666666;
}
.notice-body{
    border: 2px solid #e85d61;
    width: 336px;
}
.notice-header{
    padding:15px 25px;
    background: #e85d61;
    color: #fff;
}
.notice-header .sm-hd{
    width: 188px;
    height: 20px;
    line-height: 20px;
    padding:0 10px;
    background: url("../images/h_hd.png") no-repeat;
    color: #e85d61;
}
.notice-header .lg-hd{
    font-size: 26px;
}
.notice-header .nt-en{
    font-size: 12px;
}





.notice-slide ul{
    padding:10px 20px;
}
.notice-slide li{
    padding:6px 0 6px 15px;
    background: url("../images/dot.png") left 14px no-repeat;
}
.notice-slide li .title{
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}
.notice-slide li .title a{
    font-size: 14px;
    color: #666666;
}
.notice-slide li .title a:hover{
    font-size: 14px;
    color: #e70012;
}
.notice-slide li .meta{
    line-height: 20px;
    color: #999;
    font-size: 12px;
}
.notice-footer{
    padding:10px 30px;
    line-height: 20px;
    background:#ecf0f1;
}
.notice-footer .more{
    font-size: 16px;
}

.teacher-list ul{
    padding:20px 15px 0 15px;
}
.teacher-list li{
    padding:0 10px;
    float: left;
    width: 368px;
    margin-bottom: 60px;
    cursor: pointer;
}
.teacher-list li .teacher-box{
    background: #fff;
    border-radius: 10px;
    padding:20px;
    transition: 0.6s all;
    height: 270px;
}
.tcell{
    font-size: 14px;
    overflow: hidden;
    line-height: 25px;
}
.tcell .hd{
    color: #999999;
    float: left;
}
.tcell .bd{
    overflow: hidden;
    color: #666;
}

.tcell-hd{
    height:24px;
    margin-bottom: 10px;
}
.tcell-hd span{
    display: block;
    float: left;
    line-height: 24px;
}
.tcell-hd .name{
    font-size: 16px;
    margin-right: 10px;
}
.tcell-hd .tag{
    padding: 0px 10px;
    text-align: center;
    color: #fff;
    background: #ffcf00;
    border-radius: 30px;
}
.tcell-hd .tag-yellow{
    background: #ffcf00;
}
.tcell-hd .tag-green{
    background: #36b39a;
}
.tcell-hd .tag-org{
    background: #ff893b;
}
.tcell-hd .tag-blue{
    background: #529bcc;
}
.t-header{
    text-align: center;
    margin-bottom: 20px;
    margin-top: -60px;

}
.t-header img{
    width: 120px;
    height: 120px;
    border:4px solid #fff;
    border-radius: 120px;
}
.teacher-box:hover{
    -moz-box-shadow:0px 0px 20px #999; -webkit-box-shadow:0px 0px 20px #999; box-shadow:0px 0px 20px #999;
}
/*.teacher-box:hover .t-header img{*/
    /*border:4px solid #e6393f;*/
/*}*/

.box-footer{
    text-align: center;
}

.box-footer .box-more{
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius:44px;
    -webkit-border-radius:44px;
    color: #fff;
    font-size: 15px;
    background:#ff686d;
    margin: 0 auto;
    -moz-box-shadow:0px 0px 5px #FF686D; -webkit-box-shadow:0px 0px 5px #FF686D; box-shadow:0px 0px 5px #FF686D;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    cursor: pointer;
}
.box-footer .box-more:hover{
    -moz-box-shadow:0px 0px 20px #FF686D; -webkit-box-shadow:0px 0px 20px #FF686D; box-shadow:0px 0px 20px #FF686D;
}


.lesson-list{
    margin:0 -10px;
    overflow: hidden;
}
.lesson-list li{
    width: 280px;
    float: left;
    padding:20px 10px;
    cursor: pointer;
}

.lesson-list li .t-photo {
    display: block;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    overflow: hidden;
}

.lesson-list li .t-photo img {
    width: 280px;
    height: 210px;
}

.lesson-list li .t-title{
    padding:5px 0;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.lesson-list li .t-title a{
    font-size: 16px;
}
.lesson-list li .t-meta{
    height: 25px;
    margin-bottom:5px;
}
.t-meta .people-cell{
    float: left;
    line-height: 25px;
    margin-right: 15px;
    color: #b2b2b2;
    font-size: 14px;
}
.t-meta .collect-cell{
    float: right;
    line-height: 25px;
    color: #b2b2b2;
    font-size: 14px;
}
.t-meta .t-time{
    color: #b2b2b2;
    font-size: 14px;
    line-height: 30px;
    padding-left: 25px;
    float: left;
    background: url("../images/icon/time.png") left center no-repeat;
}
.t-meta .t-postion{
    color: #b2b2b2;
    font-size: 14px;
    line-height: 30px;
    padding-left: 20px;
    float: right;
    background: url("../images/icon/loaction.png") left center no-repeat;
}
.lesson-list li .t-footer{
    height: 30px;
}
.lesson-list .t-footer .t-postion{
    line-height: 30px;
    padding-left: 20px;
    float: left;
    background: url("../images/icon/loaction.png") left center no-repeat;
}
.lesson-list .t-footer .t-status{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    float: right;
}
.lesson-list .t-footer .t-nobegin{
    background: #ffd9da;
    color: #e3383e;
}
.lesson-list .t-footer .t-over{
    background: #e6e6e6;
    color: #666;
}
.top-notice .hd{
    margin-bottom: 20px;
}
.t-notice-list ul{
    margin: 0 -10px;
}
.t-notice-list li{
    padding:0 10px;
    float: left;
    width: 385px;
}
.t-notice-box{
    overflow: hidden;
}
.t-notice-box .t-boxpic{
    display: block;
    float: left;
    margin-right: 15px;
    width: 160px;
    height: 125px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    overflow: hidden;
}
.t-notice-box .t-title{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
.t-notice-box .t-title a{
    font-size: 16px;

}
.t-notice-box .t-desc{
    font-size: 12px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 5px;
}
.t-notice-box .t-date{
    font-size: 12px;
    color: #999;
}
.top-section{
    padding:20px 0 60px 0;
}
.first-box{
    margin-bottom: 40px;
    padding-left: 245px;
}
.first-box .ad-box{
    width: 295px;
    height: 166px;
    float: left;
    overflow:hidden;
    margin-left: 20px;
}
.online-box {
    margin-left: 0px;
    height: 165px;
    max-height: 165px;
}

.online-box .more {
    float: left;
    height: 165px;
    width: 220px;
    background-color: red;
}

.online-box .more a{
    font-size: 16px !important;
}

.online-box .bd li{
    float: left;
    height: 165px;
    width: 220px;
    margin-right: 20px;
    cursor: pointer;
}

.online-box .bd li:hover div {
    display: none;
}

.online-box .bd li a {
    font-size: 16px;
}

.online-box .bd li a .title {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.online-box .bd li a .teacher {
    font-weight: bold;
    height: 25px;
    font-size: 14px;
    padding: 0px 0px;
    background: none;
    color: black;
    text-align: center;
}

.online-box .bd li a .time {
    font-weight: bold;
    height: 25px;
    font-size: 14px;
    padding: 0px 0px;
    background: none;
    color: #e6393f;
    text-align: center;
}

.online-box .bd li a .duration {
    font-weight: bold;
    height: 25px;
    font-size: 14px;
    padding: 0px 0px;
    background: none;
    color: black;
    text-align: center;
}

.teacher-md-bar{
    background: #e6393f;
    padding:30px 0;
    color: #fff;
}
.md-bar-tit{
    float: left;
    overflow: hidden;
    padding-top: 30px;
}
.md-bar-tit .t1{
    font-size: 24px;
    color: #fae1e2;
    float: left;

}
.md-bar-tit .t2{
    float: left;
    margin-left: -15px;
    font-size: 30px;
    line-height: 60px;
    padding-left: 32px;
    background: url("../images/xiexian.png") no-repeat left center;
}
.bar-box{
    margin-left: 180px;
    float: left;
    position: relative;
    padding-right: 50px;
    padding-top: 30px;
    height: 100px;
}
.bar-box .bar-number{
    font-size: 50px;
    line-height: 60px;
    position: relative;
    z-index: 11;
}
.bar-box .bar-text{
    font-size: 20px;
    position: relative;
    z-index: 11;
}
.bar-box .bar-postion{
    font-size: 104px;
    color: #ea6468;
    position: absolute;
    right: 0;
    top: 0;
}

.topcon{
    padding:20px 0;
}
.logo{
    float: left;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}
.logo a,
.logo span{
    display: block;
    float: left;
    margin-right: 15px;
    height: 60px;
    line-height: 60px;
    color: #999999;
    font-size: 14px;
}

.logo img {
    height: 60px;
}

.topcart{
    float: right;
    height: 28px;
    margin-left: 30px;
    margin-top: 12px;
}
.topcart .cartbox{
    overflow: hidden;
    display: block;
    height: 28px;
    padding-left: 40px;
    background: url("../images/icon/cart.png") left center no-repeat;
}
.topcart .cartbox .text{
    height: 20px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    background: #e60012;
    display: block;line-height: 20px;
    margin-top: 5px;
    padding: 0px 8px;
}
.hd-search{
    margin-top: 8px;
    border:2px solid #cc0007;
    height: 33px;
    float: right;
}
.hd-search .sobd{
    float: left;
    height: 33px;
}
.sobd .so-text{
    display: block;
    height: 33px;
    line-height: 33px;
    padding-left: 20px;
    width: 338px;
    border: 0;
    outline: none;
    float: left;
}
.sobd .sobtn{
    display: block;
    float: left;
    outline:none;
    border: 0;
    width: 68px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: url("../images/shodow.png") repeat-x;
}
.so-select{
    width: 100px;
    height: 33px;
    background: #f5f5f5;
    float: left;
}
.navbar{
    width: 1200px;
    margin: 0 auto;
    height: 40px;
}
.navbar .navbar-cate{
    float: left;
    width: 180px;
    height: 40px;
    background: #c3000e;
    padding-left: 45px;
    position: relative;
}
.navbar .navbar-cate:hover .category-nav{display: block;}
.block{display: block!important;}
.cate-hd{
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    background: url("../images/icon/cate.png") left center no-repeat;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.site-nav{
    float: left;
}
.site-nav li{
    float: left;
}
.site-nav li a{
    display: block;
    height: 40px;
    padding:0 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight:bold;
}
.header{
    position:relative;
    z-index: 1111;
}
.category-nav{
    width: 225px;
    height: 585px;
    background: #cc0007;
    position: absolute;
    top: 40px;
    left: 0;display: none;
}
.cate-toggle-nav{
    display: none;
    padding:0 15px;
    width: 290px;
    height: 584px;
    border: 1px solid #cc0007;
    background: #fff;
    position: absolute;
    top: 0;
    left: 225px;
}
.first-layer{

    background-position: 95% center;
    background-repeat: no-repeat;
    background-image:url("../images/icon/right.png");
}
.first-layer .fist-menu{
    line-height: 21px;
}
.first-layer .fist-menu a{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
.second-menu-list {
    height: 24px;
    overflow: hidden;
}
.second-menu-list li {
    padding:4px 0;
    float: left;
    margin-right: 10px;
}
.second-menu-list li a{
    font-size: 12px;
    color: #fff;
}

.t-nav-section{
    padding:15px 0;
    border-bottom: 1px solid #e6e6e6
}
.second-name{
    height: 22px;
    line-height: 22px;
}
.second-name a{
    font-size: 14px;
	color:#333;
}
.na a{ color:#333; font-weight:bold}
.na a:hover{ color:#e70012;}
.third-nav li{
    padding:5px 0;
    float: left;
}
.third-nav a{
    color:#333;font-size:12px;
}
.third-nav a:hover{
    color:#e70012;text-decoration: none;}

.third-nav li span{
    padding:0 10px;
}

.box-even{
    background-color: #e3383e;
}
.first-nav-box{
    padding:10px 16px;
    position: relative;
    z-index: 11;
}
.first-layer-hover .first-nav-box{
    background: #fff;
    width:192px;
    border:1px solid #e3383e;
    border-right: 1px solid #fff;
    margin-top: -1px;
}
.first-layer-hover .fist-menu a,
.first-layer-hover .second-menu-list li a{
    color: #e3383e;
}
.first-layer-hover .cate-toggle-nav


.scale{
    display: block;
    overflow: hidden;
}
.scale img,.newspic img,.t-photo img,.t-boxpic img,.ad-box img{
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    width: 100%;
}
.scale:hover img,.newspic:hover img,.t-photo:hover img,.t-boxpic:hover img,.ad-box:hover img{
    -moz-transform:scale(1.05,1.05);
    -webkit-transform:scale(1.05,1.05);
    transform:scale(1.05,1.05);
}
.section .newspic:hover,
.section .t-photo:hover,
.section .t-boxpic:hover{
	overflow:hidden;
}
